<!-- Banner -->		
<section id="banner">

	<!--
	".inner" is set up as an inline-block so it automatically expands
	in both directions to fit whatever's inside it. This means it won't
	automatically wrap lines, so be sure to use line breaks where
	appropriate (<br />).
	-->
	
	<div class="inner">

		<h2><strong>June 25, 26 2016</strong></h2>
		<h3><strong>Detroit, Michigan</strong></h3>

		<footer>
			<ul class="buttons vertical">
				<li><a href="/results.html" class="button fit scrolly">See Results</a></li>
			</ul>
		</footer>
	</div>
	
</section>
