<header id="header">
	<h1 id="logo"><a href="/">AUSKF <span>Jr. Open Nationals {{ site.tournament_year }}</span></a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/">Welcome</a></li>
			
			<!--
			<li><a href="/schedule.html">Schedule</a></li>
			-->
				
			<!-- <li><a href="/info.html">Info</a></li> -->
			
			<!--
			<li><a href="/travel.html">Travel</a></li>
			-->
				
			<li><a href="/past.html">Past Results</a></li>
			
			<!-- <li><a href="/results.html" class="button special">Results</a></li> -->
			
			<!--
			<li><a href="/sponsor.html">Sponsor</a></li>
			<li><a href="/register.html" class="button special">Register</a></li>
			-->
		</ul>
	</nav>
</header>
